.a1{
	width:100%;
	height:85px;
	background-color:#0033cc;
	float:left;
	text-align:left;
	color:white;	
}
.a2{
	width:100%;
	background-color:#9BB4D5;
	text-align:right;
	float:right;
}
.a2 a{
	padding: 14px 16px;
	color:#0033cc;
	float:right;
	text-align:right;
	font-size:20px;
	font-family:times new roman;
	display:block;
	text-decoration:none;
}
.a2 a:hover{
background-color:green;
color:#e6ffff;
}
.a3 {
	width:100%;
	height:35px;
	background-color:#e6ffff;
	float:left;
	text-align:right;
	font-size:18px;
	
}
.a1 img{
	float:left;
	
}

.a3 a{
	padding:6px 10px;
	display:block;
	float:right;
	text-decoration:none;
}
.a3 a:hover{
	background-color:#1db594;
	color:#070930;
	overflow:hidden;
}
.center{
	display: block ;
	margin-left:auto;
	margin-right:auto;
}
.a4{
	width:100%;
	height:100px;
	background-color:#0033cc;
	
}
.q{
	width:100%;
	text-align:center;
}
body { 
 background-color: #f9f5fc;
}
h1{
	text-decoration:none;
}
.zoom {
  padding: 30px;
  float:left;
  transition: transform .2s; /* Animation */
  width: 28%;
  height: 300px;
  margin: 0 auto;
}
.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.zoom1 {
  padding: 30px;
  float:left;
  transition: transform .2s; /* Animation */
  width: 28%;
  height: 300px;
  margin: 0 auto;
}
.zoom1:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.zoom2 {
  padding: 30px;
  float:left;
  transition: transform .2s; /* Animation */
  width: 28%;
  height: 300px;
  margin: 0 auto;
}
.zoom2:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}