.a1{
	width:100%;
	height:85px;
	background-color:#0033cc;
	float:left;
	text-align:left;
	color:white;	
}
.a2{
	width:100%;
	background-color:#9BB4D5;
	text-align:right;
	float:right;
}
.a2 a{
	padding: 14px 16px;
	color:#0033cc;
	float:right;
	text-align:right;
	font-size:20px;
	font-family:times new roman;
	display:block;
	text-decoration:none;
}
.a2 a:hover{
background-color:green;
color:#e6ffff;
}
.a3 {
	width:100%;
	height:35px;
	background-color:#e6ffff;
	float:left;
	text-align:right;
	font-size:18px;
	
}
.a1 img{
	float:left;
	
}

.a3 a{
	padding:6px 10px;
	display:block;
	float:right;
	text-decoration:none;
}
.a3 a:hover{
	background-color:#1db594;
	color:#070930;
	overflow:hidden;
}
form{
	width:20%;
	height:200px;
	border: 2px solid #8c8c8c ;
	padding: 16px;
	background-color:#95fcdc;
	float:right;
	text-align:right;
	font-size:30px;
		
}
input[type=text], input[type=password]
{
	width:90%;
	padding:12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	text-align:center;
}
a{
	font-size: 12px;
}
.center{
	display: block ;
	margin-left:auto;
	margin-right:auto;
	width:70%;
	height:300px;
}
.a4{
	width:100%;
	height:200px;
	background-color:#0033cc;
	
}